@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */
body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.bg-background {
  @apply bg-[#151719] bg-opacity-100;
}

.bg-component {
  @apply bg-[#1F2225]  bg-opacity-100;
}

.color-component {
  @apply text-[#1F2225]
}

.bg-sidebar {
  @apply bg-[#1A1D20] bg-opacity-100;
}
